<div class="row">
    <div class="col-md-4 offset-md-4">
 
        <div class="card">
            <div class="card-body">
 
                <h5 class="card-title">Esqueci minha senha</h5>
                <h6 class="card-subtitle mb-2 text-muted">Informe seu email de acesso para obter uma nova senha</h6>
 
                <hr />

                <div *ngIf="mensagem_sucesso" class="alert alert-success mb-3">
                    Sucesso! {{mensagem_sucesso}}
                </div>

                <div *ngIf="mensagem_erro" class="alert alert-danger mb-3">
                    Erro! {{mensagem_erro}}
                </div>

                <!-- ngsubmit é o evento- avisa qual função que tá chamando no ts-->
                <form [formGroup]="formPassword" (ngSubmit)="onSubmit()">
 
                    <div class="mb-3">
                        <label>Email de acesso:</label>
                        <input type="email" class="form-control" 
                        formControlName="email" [readonly]="isLoading" />

                        <div *ngIf="form.email.touched && form.email.invalid" class="text-danger">
                            <div *ngIf="form.email.errors.required">
                                <p> informe seu e mail</p>
    
                            </div>
    
                            <div *ngIf="form.email.errors.email">
                                <p> informe um e mail válido</p>
    
                            </div>
                        </div>
                        
                    </div>

                    
 
                    <div class="mb-3 d-grid">
                        <!-- !- not ; ||-é ou-->
                        <input type="submit" 
                        value="Recuperar Senha" class="btn btn-success" />
                    </div>

                    <div class="row mb-3" *ngIf="isLoading" >                        
                        <div class="col-md-12 text-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                              </div>

                            <div class="mt-2">
                                <p>Processando requisição, por favor aguarde.</p>
                            </div>

                        </div>
                    </div>
 
                </form>
 
            </div>
        </div>
 
    </div>
</div>


